// Navigation Styles here
 

header{
    @media @desktop{
        .center-flex( );
        padding:1rem;
        margin-bottom: 1rem;
        border-bottom: 1px dashed black;
        // width: 100%;
    }
    h2{
        font-size: 4rem;
        // width:48%;
    }
    nav{
        @media @tablet{
            .center-flex(space-around,);
            // flex-wrap: nowrap;
            // width:25%;
            a{
                padding:0.7rem;
                text-decoration: none;
                color: black;
                font-size: 1.7rem;
            }
        }
    }    
}