// Navigation Styles here
 

header{
    @media @desktop{
        .center-flex(space-between, );
        padding:1rem;
        margin-bottom: 1rem;
        border-bottom: 1px dashed black;
        // width: 100%;
    }
    h2{
        font-size: 4rem;
        // width:48%;
    }
    nav{
        @media @desktop{
            .center-flex(space-around,);
            flex-wrap: nowrap;
            // width:25%;
            a{
                padding:1rem;
                text-decoration: none;

            }
        }
    }    
}